<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- solve the forced type conversion crash in NAPI_IH -->
    <application
        android:allowNativeHeapPointerTagging="false"
        tools:targetApi="30" />
</manifest>